<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>v1.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.corpnewt.USBMap</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>USBMap</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>MacPro6,1-EUSB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOParentMatch</key>
			<dict>
				<key>IOPropertyMatch</key>
				<dict>
					<key>pcidebug</key>
					<string>0:29:7</string>
				</dict>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleUSBEHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBMuxEnabled</key>
				<false/>
				<key>port-count</key>
				<data>
				BgAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>PRT1</key>
					<dict>
						<key>Comment</key>
						<string>Back-Bottom-Right</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AQAAAA==
						</data>
					</dict>
					<key>PRT2</key>
					<dict>
						<key>Comment</key>
						<string>Back-Bottom-Left</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AgAAAA==
						</data>
					</dict>
					<key>PRT3</key>
					<dict>
						<key>Comment</key>
						<string>Back-Middle-Right</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AwAAAA==
						</data>
					</dict>
					<key>PRT4</key>
					<dict>
						<key>Comment</key>
						<string>Back-Middle-Left</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						BAAAAA==
						</data>
					</dict>
					<key>PRT5</key>
					<dict>
						<key>Comment</key>
						<string>Back-Top-Right</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						BQAAAA==
						</data>
					</dict>
					<key>PRT6</key>
					<dict>
						<key>Comment</key>
						<string>Back-Top-Left</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						BgAAAA==
						</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>MacPro6,1</string>
		</dict>
		<key>MacPro6,1-USB0</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOParentMatch</key>
			<dict>
				<key>IOPropertyMatch</key>
				<dict>
					<key>pcidebug</key>
					<string>0:29:0</string>
				</dict>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleUSBUHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBMuxEnabled</key>
				<false/>
				<key>port-count</key>
				<data>
				AgAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>PRT1</key>
					<dict>
						<key>Comment</key>
						<string>Back-Bottom-Left-HID</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AQAAAA==
						</data>
					</dict>
					<key>PRT2</key>
					<dict>
						<key>Comment</key>
						<string>Back-Bottom-Left-HID</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AgAAAA==
						</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>MacPro6,1</string>
		</dict>
		<key>MacPro6,1-USB2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOParentMatch</key>
			<dict>
				<key>IOPropertyMatch</key>
				<dict>
					<key>pcidebug</key>
					<string>0:29:2</string>
				</dict>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleUSBUHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBMuxEnabled</key>
				<false/>
				<key>port-count</key>
				<data>
				AgAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>PRT1</key>
					<dict>
						<key>Comment</key>
						<string>Back-Top-Right-HID</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AQAAAA==
						</data>
					</dict>
					<key>PRT2</key>
					<dict>
						<key>Comment</key>
						<string>Back-Top-Left-HID</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AgAAAA==
						</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>MacPro6,1</string>
		</dict>
		<key>MacPro6,1-USB4</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOParentMatch</key>
			<dict>
				<key>IOPropertyMatch</key>
				<dict>
					<key>pcidebug</key>
					<string>0:26:0</string>
				</dict>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleUSBUHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBMuxEnabled</key>
				<false/>
				<key>port-count</key>
				<data>
				AgAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>PRT1</key>
					<dict>
						<key>Comment</key>
						<string>Header-04-HID</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AQAAAA==
						</data>
					</dict>
					<key>PRT2</key>
					<dict>
						<key>Comment</key>
						<string>Header-03-HID</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AgAAAA==
						</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>MacPro6,1</string>
		</dict>
		<key>MacPro6,1-USB6</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOParentMatch</key>
			<dict>
				<key>IOPropertyMatch</key>
				<dict>
					<key>pcidebug</key>
					<string>0:26:2</string>
				</dict>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleUSBUHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBMuxEnabled</key>
				<false/>
				<key>port-count</key>
				<data>
				AgAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>PRT1</key>
					<dict>
						<key>Comment</key>
						<string>Front-Left-HID</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AQAAAA==
						</data>
					</dict>
					<key>PRT2</key>
					<dict>
						<key>Comment</key>
						<string>Front-Right-HID</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AgAAAA==
						</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>MacPro6,1</string>
		</dict>
		<key>MacPro6,1-USBE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOParentMatch</key>
			<dict>
				<key>IOPropertyMatch</key>
				<dict>
					<key>pcidebug</key>
					<string>0:26:7</string>
				</dict>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleUSBEHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBMuxEnabled</key>
				<false/>
				<key>port-count</key>
				<data>
				BgAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>PRT1</key>
					<dict>
						<key>Comment</key>
						<string>Header-04</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AQAAAA==
						</data>
					</dict>
					<key>PRT2</key>
					<dict>
						<key>Comment</key>
						<string>Header-03</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AgAAAA==
						</data>
					</dict>
					<key>PRT3</key>
					<dict>
						<key>Comment</key>
						<string>Header-02</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AwAAAA==
						</data>
					</dict>
					<key>PRT4</key>
					<dict>
						<key>Comment</key>
						<string>Header-01</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						BAAAAA==
						</data>
					</dict>
					<key>PRT5</key>
					<dict>
						<key>Comment</key>
						<string>Front-Left</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						BQAAAA==
						</data>
					</dict>
					<key>PRT6</key>
					<dict>
						<key>Comment</key>
						<string>Front-Right</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						BgAAAA==
						</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>MacPro6,1</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
